@media (min-width: 1600px) {
  .intro-text {
    font-size: 4.5rem;
  }

  .role {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem 1.5rem;
    width: 95%;
  }
  .nav-links {
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    background-color: var(--secondaryColor);
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    display: none !important;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  .nav-links li {
    width: 100%;
    text-align: center;
  }
  .nav-links li:hover {
    background-color: #e2e2e2;
  }
  .nav-links.active {
    display: flex !important;
  }
  .resume {
    display: none;
  }

  .profile-name,
  .hamburger {
    margin: auto 0;
    text-align: center;
    display: block;
    padding: 0 auto;
  }

  .nav-links li {
    padding: 0.5rem 0;
  }
  .loader {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .clips:nth-of-type(4) {
    display: none;
  }
  .clips:nth-of-type(5) {
    display: none;
  }
  .clips:nth-of-type(6) {
    display: none;
  }
  .home {
    width: 100%;
    padding: 1.2rem;
  }

  .intro-text {
    font-size: 2.5rem;
    line-height: 0.9;
  }

  .role {
    font-size: 1.5rem;
  }
  .social-links {
    justify-content: center;
    flex-direction: row;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 0.8rem 1rem;
  }

  .profile img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .profile-name,
  .hamburger {
    margin: auto 0;
    text-align: center;
    display: block;
    padding: 0 auto;
    font-size: 1.2rem;
  }

  .role {
    font-size: 1.3rem;
  }

  .sr-hidden {
    font-size: 5.2rem;
  }

  .home-btn {
    width: 100%;
    max-width: 300px;
  }
  .home {
    padding: 1rem;
    text-align: center;
  }

  .intro-text {
    font-size: 1.9rem;
    line-height: 1.2;
  }

  .role {
    font-size: 1.3rem;
  }

  .social-links {
    gap: 0.6rem;
  }
}
